body{background: #f7f7f7;
color: #333;
font-family: 'DM Sans', sans-serif;}

section, header {width: 80%;
max-width: 800px;
margin: auto;}

img {display:block;
padding: 0;
max-width: 100%;}

/*---- styling typography----*/
h1, h2 {color: #F54C60
font family:font-family: 'DM Sans', sans-serif;}